<h1>My Evaluations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
      <%if can?(:read, evaluation) %>
        <td><%= evaluation.name %></td>
        <td><%= evaluation.description %></td>
        <td><%= link_to 'Customize', evaluation %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path, class: "btn btn-primary btn-lg" %>
